<header id="header" class="header  w-100">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark w-100">
        <img class="logo" src="../../assets/img/logo.svg" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Typing Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Typing Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Typing Game</a>
            </li>   
          </ul>
        </div>  
      </nav>

</header>